Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteRule ^about(\.php)?/?$ /index.php?action=about& [NS,QSA]
RewriteRule ^links(\.php)?/?([0-9]+)?/?$ /index.php?action=links&page=$2& [NS,QSA]
RewriteRule ^exhibitions(\.php)?/?([0-9]+\|[0-9]+)?/?$ /index.php?action=exhibitions&page=$2& [NS,QSA,L]

RewriteRule ^project(\.php)?/([0-9]+)/$ /index.php?action=project&id=$2& [NS,QSA]

RewriteRule ^catalog(\.php)?/still-life/?([0-9]*)?/$ /index.php?action=catalog&category=1&page=$2& [QSA]
RewriteRule ^catalog(\.php)?/portrait/?([0-9]*)?/$ /index.php?action=catalog&category=2&page=$2& [QSA]
RewriteRule ^catalog(\.php)?/portraits/?([0-9]*)?/$ /index.php?action=catalog&category=2&page=$2& [QSA]
RewriteRule ^catalog(\.php)?/landscape/?([0-9]*)?/$ /index.php?action=catalog&category=3&page=$2& [QSA]
RewriteRule ^catalog(\.php)?/silk/?([0-9]*)?/$ /index.php?action=catalog&category=4&page=$2& [QSA]
RewriteRule ^catalog(\.php)?/interior/?([0-9]*)?/$ /index.php?action=catalog&category=5&page=$2& [QSA]
RewriteRule ^catalog(\.php)?/wearable-art/?([0-9]*)?/$ /index.php?action=catalog&category=6&page=$2& [QSA]